<md-sidenav-container class="main">
  <!--Sidebar-->
  <md-sidenav #sidenav class="sidenav" mode="side" opened="true">
    <!--User info-->
    <div class="user-info">
      <img class="user-info__avatar" [src]="user.avatar" />
      <div>
        <p class="user-info__name">{{user.name}}</p>
        <p class="user-info__role">{{user.role}}</p>
      </div>
    </div>

    <!--Menus-->
    <ng-template ngFor let-menu [ngForOf]="menus | async">
      <a md-button class="menu-item" routerLinkActive="active" [routerLink]="menu.link">
        <md-icon>{{menu.icon}}</md-icon>{{menu.label}}
      </a>
    </ng-template>
  </md-sidenav>

  <!--Hamburger menu-->
  <md-toolbar color="primary">
    <md-icon class="clickable" (click)="sidenav.toggle()">menu</md-icon>
  </md-toolbar>

  <!--App content-->
  <div class="content">
    <!--Children content-->
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
