@import './asset/style/app.scss';

$user-info-height: em2px(4em );

.main {
  height: 100%;

  .sidenav {
    width: 200px;
    background-color: #34495e;
    overflow: visible;

    .menu-item {
      text-align: left;
      display: block;
      color: white;
      font-size: 16px;
      font-weight: 300;
      line-height: 2.5 * $b-lineHeight;

      &.active {
        color: #009688;
      }

      .material-icons {
        margin: -3px $b-space-s 0 0;
      }
    }
  }

  .user-info {
    height: $user-info-height;
    color: white;
    border-bottom: 1px solid #009688;
    position: relative;
    padding: $b-space 0;
    padding-left: $user-info-height;

    &__avatar {
      border-radius: $b-border-radius-circle;
      width: 40px;
      height: 40px;
      background-color: white;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      left: 8px;
    }

    &__role {
      @extend .text-xs;

      color: #bbb;
    }
  }

  .content {
    overflow: auto;
    padding: $b-space;
  }
}