<h1 class="header">Counter using @ngrx/store: {{ counter | async }}</h1>
<button md-button (click)="onClickDecrease()">Decrease</button>
<button md-raised-button (click)="onClickIncrease()">Increase</button>