<h1 class="header">Examples</h1>

<md-tab-group [selectedIndex]="selectedIndex">
  <md-tab *ngFor="let menu of menus | async">
    <ng-template md-tab-label >
      <a class="unlink" routerLinkActive="active" [routerLink]="menu.link">{{menu.label}}</a>
    </ng-template>
  </md-tab>
</md-tab-group>

<section class="section">
  <router-outlet></router-outlet>
</section>