<h1 class="header" class="header">Users using @ngrx/store:
  <span *ngIf="loading | async; then templateLoading"></span>
</h1>

<div class="mb-lg">
  <!--<button md-button (click)="onClickCancel()">Cancel</button>-->
  <button md-raised-button (click)="onClickGetUsers()">Get users</button>
</div>

<!--Users-->
<ng-template ngFor let-user [ngForOf]="users | async">
  <md-card class="user--info">{{user.firstName + ' ' + user.lastName}}</md-card>
</ng-template>

<!--Templates-->
<ng-template #templateLoading>loading...</ng-template>